@import "./vars/colors.scss";

.messages {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  padding: 8px;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  &__item {
    width: fit-content;
    padding: 8px;
    background-color: $light-grey;
    align-self: flex-end;

    &--recieved {
      background-color: $dark-grey;
      align-self: flex-start;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__item:first-child {
    margin-top: auto;
  }

  &__item-author {
    margin-right: 5px;
  }
  &__item-date {
    margin-top: 5px;
    font-size: 14px;
    text-align: right;
    color: $light-black;
  }
  &__item-text-container {
    display: flex;
    align-items: center;
  }
}
